<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="project.Image" class="card-img-top" [src]="project.Image" alt="{{project.Name}}">
        <img *ngIf="!project.Image" class="card-img-top" src="assets/images/project-default1.png" alt="default">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{project.Name}}</h1>
        <div>
          <strong>Country: {{project.Location}}</strong>
        </div>
        <div>
         <strong>Type: {{project.Type}}</strong>
       </div> <hr>

       <div>
       <strong>Technologies: {{project.Technologies}}</strong>
       </div>

       <div>
         <strong>${{project.Goal}}</strong>
       </div>
        
       </div>
       <div class="card-footer">
        
       </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{project.Name}}</p>
                  </div>
              </div>

              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Project</strong>
                      <p>{{project.Description}}</p>
                  </div>
              </div>
            </div>
        </tab>

        <tab heading="Photos & Videos">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

          <div *ngIf="project.Videos && project.Videos.length > 0" class="mt-4">
            <hr>
            <h3>Videos</h3>
            <div class="row">
              <div class="col-sm-6 mb-3" *ngFor="let vid of project.Videos">
                 <div class="card shadow">
                    <video [src]="vid" controls style="width: 100%; max-height: 300px; background: black;"></video>
                 </div>
              </div>
            </div>
          </div>
        </tab>

       <tab heading="Contact">
          <h1>Contact Detail</h1>
          
          <div *ngIf="!isUserLoggedIn" class="alert alert-warning">
            <p><i class="fa fa-lock"></i> This area is restricted. Only registered users can see seller contact details.</p>
            <button class="btn btn-primary" routerLink="/user/login">Login</button>
            <span class="ml-2">or</span>
            <button class="btn btn-outline-primary ml-2" routerLink="/user/register">Register</button>
          </div>

          <div *ngIf="isUserLoggedIn">
             <div class="card p-3">
               
               <p><strong>Email:</strong> {{ project.ContactEmail ? project.ContactEmail : 'Not provided' }}</p>
               
               <p *ngIf="project.ContactPhone"><strong>Phone:</strong> {{ project.ContactPhone }}</p>
               <p *ngIf="!project.ContactPhone" class="text-muted">Phone: Not provided</p>

               <p *ngIf="project.ContactOther"><strong>Other Info:</strong> {{ project.ContactOther }}</p>
             </div>
          </div>

        </tab>
        </tabset>
    </div>
  </div>
</div>