<div class="card card-margin">
    <div class="card-img-wrapper">
        <img *ngIf="project.Image" class="card-img-top" src="assets/images/{{project.Image}}.jpg">
        <img *ngIf="!project.Image" class="card-img-top" src="assets/images/project-default1.png">
        <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/project-detail/{{project.Id}}"><i class="fa-solid fa-pen-to-square"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa-solid fa-address-book"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <h1>{{project.Name}}</h1>
        <h2>{{project.Type}}</h2>
        <h3>{{project.Price}}</h3>
    </div>
</div>


